body {
    font-family: 'Times New Roman', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

hr {
    border-color: #fff;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: none;
    margin-right: none;
}

section {
    padding: 6rem 0;
}

section h2 {
    font-size: 2.25rem;
    line-height: 2rem;
    color: #000000;
}

@media (min-width: 992px) {
    section h2 {
        font-size: 3rem;
        line-height: 2.5rem;
        color: #000000;
    }
}

.bg-dark {
    background-color: #1085e5 !important;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color: rgb(18, 40, 163);
}
/* Navigation bar */
#mainNav .navbar-nav {
    letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
}

header.masthead {
    padding-top: calc(3rem + 56px);
    padding-bottom: 6rem;
}

header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
}

header.masthead h2 {
    font-size: 1.3rem;
    color:#000000;
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(2rem + 106px);
        padding-bottom: 6rem;

    }
    header.masthead h1 {
        font-size: 4.75em;
        line-height: 4rem;
        color:#000000;
    }
    header.masthead h2 {
        font-size: 1.75em;
        color:#000000;
    }
}

.ERD {
    margin-bottom: -15px;
}

.ERD .ERD-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
}

.ERD .ERD-item .ERD-item-caption {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: rgba(238, 46, 17, 0.7);
}

.ERD .ERD-item .ERD-item-caption:hover {
    opacity: 1;
}

.ERD
    .ERD-item
    .ERD-item-caption
    .ERD-item-caption-content {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .ERD {
        margin-bottom: -30px;
    }
    .ERD .ERD-item {
        margin-bottom: 30px;
    }
}


.Overview-of-the-project,
.about-us {
    margin-top: 50px;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.5;
    color:#000000;
}

.skills-row {
    margin-top: 50px;
    color:#000000;
}

.Meet-the-team {
    margin-bottom: -15px;
}

.Meet-the-team .Meet-the-team-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
}

.Meet-the-team .Meet-the-team-item .Meet-the-team-item-caption {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: rgba(17, 21, 238, 0.7);
}

.Meet-the-team .Meet-the-team-item .Meet-the-team-item-caption:hover {
    opacity: 1;
}

.Meet-the-team
    .Meet-the-team-item
    .Meet-the-team-item-caption
    .Meet-the-team-item-caption-content {
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .Meet-the-team {
        margin-bottom: -30px;
    }
    .Meet-the-team .Meet-the-team-item {
        margin-bottom: 30px;
    }
}

.Meet-the-team-modal .Meet-the-team-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    color: #000000 !important;
}

.Meet-the-team-modal .Meet-the-team-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #000000 !important;
}

.Meet-the-team-modal .Meet-the-team-modal-dialog .close-button i {
    line-height: 38px;
    color: #000000 !important;
}

.Meet-the-team-modal .Meet-the-team-modal-dialog h2 {
    font-size: 2rem;
    color: #000000 !important;
}

@media (min-width: 768px) {
    .Meet-the-team-modal .Meet-the-team-modal-dialog {
        min-height: 100vh;
        padding: 5rem;
        margin: 3rem calc(3rem - 8px);
    }
    .Meet-the-team-modal .Meet-the-team-modal-dialog h2 {
        font-size: 3rem;
    }
}


/* project summary */
.Project_Summary {
    margin-bottom: -15px;
    color: #000000 !important;
}

.Project_Summary .location {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000000 !important;
}

.Project_Summary .credential-date {
    font-size: 1rem;
    font-weight: 300;
    color: #000000 !important;
}

.Project_Summary .credential-description {
    max-width: 700px;
    color: #000000 !important;
}

.Project_Summary .credential-divider {
    border-color: rgba(0, 0, 0, 0.3); }


.Project_Summary-modal .Project_Summary-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    color: #000000 !important;
}

.Project_Summary-modal .Project_Summary-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #000000 !important;
}

.Project_Summary-modal .Project_Summary-modal-dialog .close-button i {
    line-height: 38px;
    color: #000000 !important;
}

.Project_Summary-modal .Project_Summary-modal-dialog h2 {
    font-size: 2rem;
    color: #000000 !important;
}

@media (min-width: 768px) {
    .Project_Summary-modal .Project_Summary-modal-dialog {
        min-height: 100vh;
        padding: 5rem;
        margin: 3rem calc(3rem - 8px);
    }
    .Project_Summary-modal .Project_Summary-modal-dialog h2 {
        font-size: 3rem;
    }
} 

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #e7f3f0;
    color: #ffffff;
}

.copyright {
    background-color: #1085e5;
}

a:focus,
a:hover,
a:active {
    color: #fff;
}

.btn {
    border-width: 2px;
}

.bg-primary {
    background-color: #ffffff !important;
}

.bg-secondary {
    background-color: #0b366e !important;
}
/* Section */
.text-primary {
    color: #000000 !important;
}

.text-secondary {
    color: #000000 !important;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}
/* Meet-the-team hover colors */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #122297 !important;
    border-color: #ffffff !important;
    color: rgb(255, 255, 255);
}


body {
    font-family: Times New Roman, Courier New, Monospace;
  }

  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(56, 185, 138);
  }
  
  nav a:hover {}
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    transition: all ease-in-out 500ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  

